/* Author: Ojebola Michael */
/*Created: Jan., 31, 2023. The external css for both pages. index.html and page2.html*/
body {
    background-color: #ddd;
    overflow-x: hidden;
    /* change this */
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header div {
    padding: 1em;
}

header .text-container {
    display: flex;
    align-items: center;
}

header .text-container h1 {
    font-size: 5rem;
    /* using viewwidth to make the font-size responsive*/
    padding: 0;
    margin: 0;
    font-family: cursive;
}

header .text-container p {
    color: #9b3e09;
    font-size: 1.05em;
    margin-top: 0.8em;

}

header .image-container {
    display: flex;
    align-items: center;
}

header .image-container img {
    width: 85%;
    display: block;
    border-radius: 5px 40px 5px 50px;
}

h1,
h3 {
    color: darkcyan;
}

h2 {
    color: #882602;
    margin-bottom: 0.85em;
    font-size: 2.5em;
}

h3 {
    font-size: 25px;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #016a85;
    margin: 0;
    padding: 0;
}

p {
    color: #111;
    line-height: 20px;
}

.container {
    background-color: #f9f9f9;
    padding: 1em 5em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

section {
    padding: 0.7em;
    border-radius: 10px;
}

.section-grid {
    margin-top: 1em;
    display: grid;
    gap: 0.5em;
    padding: 0.95em;
    background: #f3f3f3;
    border-radius: 7px;
    box-shadow: 0 0 7px #1112;
}

.user-interaction {
    display: grid;
    gap: 0.7em;
    padding: 1em;
    border-radius: 0.55em;
    box-shadow: 0 0 5px #0003;
    background-color: #f6f6f6;
}

.user-interaction input {
    display: block;
    height: 25px;
    width: 97%;
    padding-left: 0.5em;
    background-color: #cacaca;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-top: 6px;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 1px #3638c9;
}

.user-interaction textarea {
    width: 97%;
    height: fit-content;
    border: 0;
    outline: 0;
    border-radius: 7px;
    background-color: #cacaca;
    font-size: 1.125em;
    padding-left: 0.5em;
}

.user-interaction button {
    padding: 7px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    background: #016a85;
    opacity: 0.8;
    color: #f5f5f5;
    transition: opacity 0.4s ease-in;
}

.user-interaction button:hover {
    opacity: 1;
}

footer {
    background-color: #c0c0c0;
    padding: 1em;
    text-align: center;
    color: #a04a03;
    font-size: 0.9em;
}

/* mobile view */

@media only screen and (max-width: 600px) {
     header {
        display: block;
        grid-template-columns: none;
    }
    header .text-container, .image-container{
        display: block;
    }
    .image-container img{
        margin-top: -2.5em;
        width: 100% !important;
    }
    .container {
        padding: 1em;
    }

    main {
        grid-template-columns: none;
    }
}
